html, body, #root {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    place-items: stretch;
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    background-color: transparent;
}